        <footer>
<% if (typeof user == 'object' && user) { %>
        <nav>
      <ul class="main-nav">
        <li><a href="/profile"><img src="/images/user.svg" /></a></li> 
        <li><a href="/"><img src="/images/logo.svg" /></a></li>
        <li><a href="/chat"><img src="/images/chat.svg" /></a></li>
      </ul>
    </nav>
    <% } else {} %>
    </footer>
        <script src="/js/main.js"></script>
    </body>
</html>