<% include ../partials/head.ejs %>
<header>
<nav class=top-nav>
    <div class=left><a href=""></a></div>
    <div class=right><a href=""></a></div>
</nav>
<h1>Chats</h1>
</header>
<section>
<h2>If you get some matches they will appear here !</h2>
</section>
<% include ../partials/tail.ejs %>
