<% include ../partials/head.ejs %>
<header>
<nav class=top-nav>
   <div class=left><a href="/profile">back</a></div>
<h2>Edit</h2>    
    <div class=right><a href="#"></a></div>
    
</nav>
</header>
<section>    
<form class=edit action=edit method=post enctype=multipart/form-data>
<fieldset>

<legend>Profile Picture</legend>
  <input name=picture type=file accept=image/*>
  </fieldset>
  <fieldset>
  <legend>Your Email</legend>
  <input name=username value= <%= user.username %> readonly>
  </fieldset>
  <fieldset class='active'>
    <legend>Your Name</legend>
    <input name=name value= <%= user.name %> >
</fieldset>
  <fieldset>
  <legend>Console </legend>
  <div><input id=playstation type="radio" name="console" value="playstation" checked><label for=playstation>Playsation</label></div>
    <div><input id=xbox type="radio" name="console" value="xbox"><label for=xbox>Xbox</label></div>
    <div><input id=pc type="radio" name="console" value="pc"><label for=pc>PC</label></div>
    <div><input id=other type="radio" name="console" value="other"><label for=other>Other</label></div>
  </fieldset>
  <fieldset>
    <legend>Looking for</legend>
      <div><input id=coop type="radio" name="gamemode" value="Coop" checked><label for=coop>Coop</label></div>
      <div><input id=multiplayer type="radio" name="gamemode" value="Multiplayer"><label for=multiplayer>Multiplayer</label></div>
  </fieldset>
  <fieldset>
      <legend>Playstyle</legend>
   <div><input id=agressive type="radio" name="playstyle" value="Agressive" checked><label for=agressive>Agressive</label></div>
      <div><input id=stealth type="radio" name="playstyle" value="Stealth"><label for=stealth>Stealth</label></div>
      <div><input id=objective type="radio" name="playstyle" value="Objective"><label for=objective>Objective</label></div>
  </fieldset>
  <fieldset>
  <legend>About <% user.username%> </legend>
  <textarea name=about rows=5><%= user.about %></textarea>
  </fieldset>
  <button type=submit class=btn-main>done</button>
  </fieldset>
</form>
</section>
<% include ../partials/tail.ejs %>