<% include ../partials/head.ejs %>
<header>
<nav class=top-nav>
   <div class=left><a href="/profile">back</a></div>
<h2>Edit</h2>    
    <div class=right><a href="#"></a></div>
    
</nav>
</header>
<section>    
<form action=edit method=post enctype=multipart/form-data>
<fieldset class=edit>

<label>Profile Picture</label>
  <input name=picture type=file accept=image/*>
  <label>Email </label>
  <input name=username value= <%= user.username %> readonly>
  <label>console </label>
  <input name=console value= <%= user.console %>>
  
  <label>About <% user.username%> </label>
  <textarea name=about rows=5><%= user.about %></textarea>
  <button type=submit class=btn-main>done</button>
  </fieldset>
</form>
</section>
<% include ../partials/tail.ejs %>