<% include ../partials/head.ejs %>
<header>
<nav class=top-nav>
    <div class=left><a href=""></a></div>
    
    <div class=right><a href=""></a></div>
    
</nav>
<h1>error</h1>
    
</header>
<section>
<h2>A wild Error appeared</h2>  
</section>
<% include ../partials/tail.ejs %>