<% include ../partials/head.ejs %>
<section>
  

  <h1>Games</h1>
</section>

<section>
<form>
  <div>
    <input type="search" id="mySearch" name="q"
     placeholder="Search for Games">
    <button class=material-icons>Search</button>
  </div>
</form>
</section>

<div>
    <ul class="games">
        <%# for (var index = 0; index < games.length; index++) { %>
        <li class="item">
        
            <img src="/uploads/<%#= games[index].cover %>" alt="<%#= games[index].title %>">
            <button id=js-remove
                    data-id="<%#= games[index]._id %>"
                    class="icon add material-icons">add</button>
        </li>
        <%# } %>
        <li class="item">
            <img src="https://via.placeholder.com/100x125" alt="">
            <a href='/games' id="" class="icon add material-icons">add</a>
        </li>
    </ul>    
</div>




<% include ../partials/tail.ejs %>