<% include ../partials/head.ejs %>
<header>
  
<nav class=top-nav>
    <div class=left><a href="/profile">back</a></div>
  <h1>Games</h1>  
    <div class=right><a href=""></a></div>
    
</nav>
  
  <form class=searchbar>
  <div class=searchbar-input-wrap>
    <input type="search" id="mySearch" name="query"
     placeholder="Search">
    <i class="material-icons">search</i>
  </div>
</form>
</header>





<section>
    <ul class="games">
        <% for (var index = 0; index < games.length; index++) { %>
        <li class="item">
        
            <img src="/uploads/<%= games[index].cover %>" alt="<%= games[index].title %>">
            <button id=js-remove
                    data-id="<%= games[index]._id %>"
                    class="icon add material-icons">add</button>
        </li>
        <% } %>
    </ul>    
</section>




<% include ../partials/tail.ejs %>