<% include ../partials/head.ejs %>

<section>
  <h1>Gamer</h1>
</section>

<section>
  

  
<% if (typeof user == 'object' && user) { %>
  <h2>Hi,  <%= user.username %> !</h2>
<% } else { %>
  <% include ../partials/user-log-reg.ejs %>
<% } %>
</section>
<% include ../partials/tail.ejs %>