<% include ../partials/head.ejs %>

<header>
<nav class=top-nav>
    <div class=left><a href=""></a></div>
    
    <div class=right><a href=""></a></div>
    
</nav>
  <h1>Gamer</h1>
</header>

<section>
  

  
<% if (typeof user == 'object' && user) { %>
  <h2>Hi,  <%= user.name %> !</h2>
<% } else { %>
  <% include ../partials/user-log-reg.ejs %>
<% } %>
</section>
<% include ../partials/tail.ejs %>

