<% include ../partials/head.ejs %>
<header class=header>
  <a href="/"><img class=logo src="/images/logo.svg"/></a>
  <h1>Gamer</h1>
</header>
<section>
<form action=/login method=POST>
  <fieldset class=login>
    <div class=login-register>
      <a class=active href="login">Login</a>
      <a href="register">Register</a>
    </div>
    <label>Username</label>
    <input type=text name=username>
    <label>Password</label>
    <input type=password name=password>
    <button type=submit class="btn-main btn-bottom">Login</button>
  </fieldset>
</form>
 </section>
 <% include ../partials/tail.ejs %>

 