<% include ../partials/head.ejs %>
<section>
<h1>Profile</h1>
<% if (typeof user == 'object' && user) { %>

<div class=profile-picture>
<img src="/uploads/<%= user.picture %> ">
</div>
    <h2> <%= user.username %></h2>
    <p class='icon console'> <%= user.console %></p>
<h3>About</h3>
<p> <%= user.about %> </p>
<% include ../partials/my-list.ejs %>

<% } else { %>
      <h2>Hi Nobody!</h2>

<% } %>
</section>

<% include ../partials/user-log-reg.ejs %>
<% include ../partials/tail.ejs %>

