<% include ../partials/head.ejs %>

<h1>Profile</h1>
<% if (typeof user == 'object' && user) { %>
<div class=profile-info>
  

<h2>Hi,  <%= user.username %> !</h2>
<p> You are a <b><%= user.console %></b> Gamer</p>
</div>
<% include ../partials/my-list.ejs %>
<% include ../partials/add.ejs %>


  
  
<% } else { %>
<h2>Hi Nobody!</h2>

  <% } %>
  <% include ../partials/user-log-reg.ejs %>
<% include ../partials/tail.ejs %>

