<% include ../partials/head.ejs %>
<header>
<nav class=top-nav>
    <div class=left></div>
    
    <div class=right><a href="profile/edit">edit</a></div>
    
</nav>

<h1>Profile</h1>    
</header>


<section>
<% if (typeof user == 'object' && user) { %>

<div class=profile-picture>
<img src="/uploads/<%= user.picture %> ">
</div>
    <h2> <%= user.username %></h2>
    <p class='icon console'> <%= user.console %></p>
<h3>About you</h3>
<p> <%= user.about %> </p>
<% include ../partials/my-list.ejs %>

<% } else { %>
      <h2>Hi Nobody!</h2>

<% } %>
</section>

<% include ../partials/user-log-reg.ejs %>
<% include ../partials/tail.ejs %>

